header{
    justify-content: space-between;
    display: flex;
    padding: 16px;
    background-color: #333;
    color: #eee;
    text-transform: uppercase;
}

a{
    color: #eee;
    text-decoration: none;
    cursor: pointer;
}

span{
    cursor: pointer;
}
